<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpotifyTutorialObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F9780E01DC95348003D7A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9780F91DC95348003D7A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9781041DC95348003D7A9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
